h1
{
  color:pink;
}
form
{
  background-color:aliceblue;
}
.phandau{color:pink;background-color:black;text-align:center;padding:20px}
.thucdon{color:black;background-color:white; padding: 14px 15px;
}
.thucdon a{color:black;background-color:aliceblue; text-align:center;}
.thucdon a:hover{color:white;;display:block;background-color:blue;}
.noidung{color:pink;background-color:blue}
