h1
{
  color:pink;
}
form
{
  background-color:aliceblue;
}
.phandau{color:pink;background-color:black;text-align:center;padding:20px}
.thucdon{color:black;background-color:white; padding: 14px 15px;
}
.thucdon a{color:black;background-color:white;display:block; text-align:center;}
.thucdon a:hover{color:white;background-color:black;}
.noidung{color:pink;background-color:blue}
